.skdslider{position: relative;display: block;overflow:hidden;height:400px !important;}
.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li{display: none;}
.skdslider ul.slides li img{width: 100%;border:0;}
.skdslider ul.slide-navs {bottom: 20px;left: 50%;position: absolute;list-style-type: none;margin: 0;padding: 0;}
.skdslider ul.slide-navs li {float: left;background: url("../images/slide-bg.png") no-repeat scroll 0 0 transparent;height:12px;width:12px;margin-right:4px;cursor:pointer;}
.skdslider ul.slide-navs li.current-slide {background: url("../images/slide-bg-active.png") no-repeat scroll 0 0 transparent;}
.skdslider .slide-desc {background: rgba(0, 0, 0, 0.5);left: 0;padding: 0 15px 0 15px;position: absolute;bottom: 15%;max-width: 85%;display:inline-block;}
.skdslider .slide-desc > h2 {color: #78d18b;font-size: 18px;margin-bottom: 10px;margin-top: 10px;text-transform: uppercase;}
.skdslider .slide-desc > p {color: #FFFFFF;font-size: 14px;line-height: 20px;margin-top: 5px;}
.skdslider .slide-desc > p a.more {color:#990000;font-size:20px;text-decoration:none;}
.skdslider .slide-desc > p a.more:hover {text-decoration:underline;}
.skdslider a.prev{background: url("../images/left.png") no-repeat scroll 0 0 transparent;width:35px;height:35px;display:block;cursor:pointer;position:absolute;top:50%;left:2%;margin-top:-17px;}
.skdslider a.next{background: url("../images/right.png") no-repeat scroll 0 0 transparent;width:35px;height:35px;display:block;cursor:pointer;position:absolute;top:50%;right:2%;margin-top:-17px;}
.skdslider a.prev:hover{  
}
.skdslider a.next:hover{
  
}
.skdslider a.play{background: url("../images/play.png") no-repeat scroll center center transparent;width:35px;height:35px;display:none;cursor:pointer;position:absolute;top:50%;left:48%;margin-top:-17px;}
.skdslider a.pause{background: url("../images/pause.png") no-repeat scroll center center transparent;width:35px;height:35px;display:none;cursor:pointer;position:absolute;top:50%;left:48%;margin-top:-17px;}
/*Some Responsive CSS */
@media screen and (max-width:767px) {
	.skdslider .slide-desc > h2 {font-size: 20px;margin-bottom: 5px;margin-top: 5px;}
	.skdslider .slide-desc > p {font-size: 14px;line-height: 15px;margin-top: 5px;}
	.skdslider .slide-desc > p a.more {font-size:14px;}
}